.container {
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.card-content {
    width: 90vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.buttons-group {
    gap : 20px;
    display: flex;
}