.title {
    margin-top: 30px;
    margin-bottom: 35px;
    align-self: center;
    text-align: center;
}
.container {
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.card-content {
    width: 90vw;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.number {
    font-size: 5rem;
}

.Button{
    position: absolute;
    left: 12px;
    top: 58px;
}